/*
result_table
*/

img.result-table-icon{
  width: 20px;
  height: 20px;
}

.judge{
  display: inline-block;
  vertical-align: middle;
}

.edit-btn{
  font-size: 0.6rem !important;
}

body{
  font-size: 0.6rem !important;
}
