/*
result_table
*/

img.result-table-icon{
  width: 20px;
  height: 20px;
}

.judge{
  display: inline-block;
  vertical-align: middle;
}

.edit-btn{
  font-size: 0.5rem !important;
}

.table-head{
  font-size: 0.6rem;
}

.table td{
  vertical-align: middle !important;
}
